
<div class="relative overflow-x-auto mt-5">
    <div class="inline-flex mb-2 mt-5 px-5">
        <a class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l" routerLink="forms">
            <fa-icon [icon]="icon.add"></fa-icon>
        </a>
        <a class="bg-orange-500 hover:bg-blue-700 text-white font-bold py-2 px-4" routerLink="table">
            <fa-icon [icon]="icon.show"></fa-icon>
        </a>
        <button class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r">
            <fa-icon [icon]="icon.refresh"></fa-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
</div>
