<footer class="bg-gray-500 rounded-lg shadow m-4 fixed bottom-0 left-0 right-0">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-100 sm:text-center"> <a href="https://github.com/DavideDeZuane/advanced_programming" class="hover:underline text-blue-400 dark:text-blue-400"><fa-icon [icon]="icon"></fa-icon>  Programmazione Avanzata</a> - Davide De Zuane & Michele Di Renzo</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 dark:text-gray-300 sm:mt-0">
        </ul>
    </div>
</footer>
